<% title "Список дат" %>

<% form_tag destroy_multiple_crossing_days_path, :method => :delete do %>
  <table id="dates">
    <tr>
      <th>Выбрать</th>
      <th>Въезд</th>
      <th>Выезд</th>
    </tr>
    <% @crossing_days.in_groups_of(2, false) do |pair| %>
      <tr>
        <td><%= check_box_tag "crossing_day_ids[]", pair.collect(&:id).join(' ') %></td>
        <% for crossing_day in pair %>
          <td><%=h format_date_to_russian crossing_day.date_of %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Удалить выбраные" %>
<% end%>
<p>
  <%= link_to 'Назад на главную', root_path %>
</p>
    